@import "/src/assets/style/normalize.css";
@import "/src/assets/style/element-ui.scss";
@import "/src/assets/style/transition.scss";
@import "/src/assets/style/variable.scss";
@import "/src/assets/style/theme.scss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $color-background-base;
}
